---
layout: page
title: Blog
permalink: /blog/
---

<style>
  img {
    width: 100%;
    height: auto;
  }

  table,
  th,
  td {
    border-collapse: collapse;
  }

  th,
  td {
    padding: 10px;
  }
</style>

<h5 style="text-align:center">Blog</h5>
<ul class="collection">
  {% assign temp = 1 %}
  {% for post in site.posts %}
  {% if temp == 1 %}

  <a href="#!" class="collection-item" href="{{ post.url | relative_url }}">

    <img src="/assets/posts/{{ post.image }}">

    <h4>{{ post.title | escape }}</h4>

    <p>
      {{ post.content | truncatewords: 25 }}
    </p>

  </a>


  {% assign temp = 0 %}
  {% elsif temp == 0 %}

  <a href="#!" class="collection-item" href="{{ post.url | relative_url }}">

    <img src="/assets/posts/{{ post.image }}">

    <h4>{{ post.title | escape }}</h4>

    <p>
      {{ post.content | truncatewords: 25 }}
    </p>

  </a>

  {% assign temp = 1 %}
  {% endif %}
  {% endfor %}

</ul>