---
layout: page
title: Blog
permalink: /blog/
---

<style>
  img {
    width: 100%;
    height: auto;
  }

  table,
  th,
  td {
    border-collapse: collapse;
  }

  th,
  td {
    padding: 10px;
  }
</style>

<h5 style="text-align:center">Blog</h5>
<ul class="collection">
  {% assign temp = 1 %}
  {% for post in site.posts %}
  {% if temp == 1 %}

  <table style="width:100%">
    <tr>
      <th style="width:50%"><a class="post-link" href="{{ post.url | relative_url }}"><img src="/assets/posts/{{ post.image }}"></a></th>
      <th style="width:50%">
        <h4><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h4>
        <p>
          {{ post.content | truncatewords: 25 }}
        </p>
      </th>
    </tr>
  </table>
  {% assign temp = 0 %}
  {% elsif temp == 0 %}
  <table style="width:100%">
    <tr>
      <th style="width:50%">
        <h4><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h4>
        <p>
          {{ post.content | truncatewords: 25 }}
        </p>
      </th>
      <th style="width:50%"><a class="post-link" href="{{ post.url | relative_url }}"><img src="/assets/posts/{{ post.image }}"></a></th>
    </tr>
  </table>
  {% assign temp = 1 %}
  {% endif %}
  {% endfor %}
</ul>