---
layout: page
title: Posts
navbar: Posts
---


{% for post in site.posts %}

{% if post.image != null %}

<div class="card horizontal small">

  <div class="card-image">
    <img width="100" src="/assets/posts/{{ post.image }}">
  </div>

  <div class="card-stacked">
    <div class="card-content">
      <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished" style="color:purple">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ post.date | date: date_format }}
      </time>
      <h4>{{ post.title | escape }}</h4>
      <p>
        {{ post.excerpt }}
      </p>
    </div>
    <div class="card-action">
      <a href="{{ post.url | relative_url }}">View Post</a>
    </div>
  </div>

</div>

{% else %}

<div class="card">
  <div class="card-content">
    <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished" style="color:purple">
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      {{ post.date | date: date_format }}
    </time>
    <h4>{{ post.title | escape }}</h4>
    <p>
      {{ post.excerpt }}
    </p>
  </div>
  <div class="card-action">
    <a href="{{ post.url | relative_url }}">View Post</a>
  </div>
</div>

{% endif %}

{% endfor %}