<footer class="page-footer deep-purple darken-2">
    <div style="flex-shrink: 0;">
        <div class="container">
            <p>
                Markham Community Robotics is a local, student-led robotics organization that competes in the FIRST
                Robotics Competition.
            </p>
        </div>
        <div class="footer-copyright deep-purple darken-3">
            <div class="container">
                Copyright © 2019 Markham Community Robotics
            </div>
        </div>
    </div>
</footer>