<style>
    img {
        width: 100%;
        height: auto;
    }

    table,
    th,
    td {
        border-collapse: collapse;
    }

    th,
    td {
        padding: 2px;
    }
</style>
<footer class="footer">
    <div class="container">
        <div class="row" style="text-align: left;">
            <div class="col m5 s12">
                <p class="grey-text text-lighten-4">Markham Community Robotics is a local, student-led robotics
                    organization
                    that competes in the FIRST Robotics Competition.</p>
                </a>
                <p></p>
                <a href="/" class="deep-purple-text text-lighten-4">Copyright © 2019 Markham Community Robotics</a>.
            </div>
            <div class="col m7 s12">
                <table style="width:95%">
                    <tr>
                        <td style="width:25%"><a href="https://www.wsp.com"><img src="/assets/logos/sponsors/wsp.jpg"></a></td>
                        <td style="width:25%"><a href="http://www.sablemetal.com"><img src="/assets/logos/sponsors/Sable.gif"></a></td>
                        <td style="width:25%"><a href="https://kidzwhiz.com"><img src="/assets/logos/sponsors/Kidzwhiz.png"></a></td>
                        <td style="width:25%">
                            <table style="width:100%">
                                <tr>
                                    <td style="width:50%"><a href="https://www.voyzant.com/"><img src="/assets/logos/sponsors/silver/Voyzant.png"></a></td>
                                </tr>
                                <tr>
                                    <td style="width:50%"><a href="https://www.callture.com/"><img src="/assets/logos/sponsors/bronze/Callture.png"></a></td>
                                </tr>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</footer>