<ul id="dropdown1" class="dropdown-content">
    <li><a href="/about/">Team</a></li>
    <li><a href="/members/">Members</a></li>

</ul>
<ul id="dropdownm" class="dropdown-content blue-text text-darken-2">
    <li><a href="/about/" style="color:white">Team</a></li>
    <li><a href="/members/" style="color:white">Members</a></li>

</ul>
<ul id="dropdowng" class="dropdown-content">
    <li><a href="/gallery/#20182019ryerson" style="color:white">2018-2019 Ryerson University</a></li>
    <li><a href="/gallery/#20182019uoit" style="color:white">2018-2019 University of Ontario</a></li>
    <li><a href="/gallery/">2019 Hackathon co-hosted by the Markville STEM Council</a></li>
    <li><a href="/gallery/#20172018ryerson">2017-2018 Ryerson University</a></li>
    <li><a href="/gallery/#20172018uoit">2017-2018 University of Ontario</a></li>
    <li><a href="/gallery/#20172018schoolvisits">2017-2018 School Visits</a></li>
</ul>
<ul id="dropdowngm" class="dropdown-content blue-text text-darken-2">
    <li><a href="/gallery/#20182019ryerson" style="color:white">2018-2019 Ryerson University</a></li>
    <li><a href="/gallery/#20182019uoit" style="color:white">2018-2019 University of Ontario</a></li>
    <li><a href="/gallery/#2019mschack" style="color:white">2019 Hackathon co-hosted by the Markville STEM Council</a></li>
    <li><a href="/gallery/#20172018ryerson" style="color:white">2017-2018 Ryerson University</a></li>
    <li><a href="/gallery/#20172018uoit" style="color:white">2017-2018 University of Ontario</a></li>
    <li><a href="/gallery/#20172018schoolvisits" style="color:white">2017-2018 School Visits</a></li>
</ul>


<nav class="deep-purple darken-2" role="navigation">
    <div class="nav-wrapper container">

        <a id="logo-container" class="brand-logo hide-on-med-and-down" href="/">
            Team 6866
        </a>

        <a id="logo-container" class="brand-logo center" href="/">
            <img src="/assets/logos/regular no-6866.png" style="width:68.66px;height:68.66px;padding:5px">
        </a>

        <ul class="right hide-on-med-and-down">
            <li> <a class='dropdown-button' data-beloworigin="true" href='/about/' data-activates='dropdown1'>About</a></li>
            <li><a class='dropdown-button' data-beloworigin="true" href='/gallery/' data-activates='dropdowng'>Gallery</a></li>
            <li><a href="/blog/">Outreach</a></li>
            <li><a href="/sponsor/">Sponsors</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="/">Home</a></li>
            <li><a class='dropdown-button' data-beloworigin="true" data-hover="false" href='/about/' data-activates='dropdownm'>About</a></li>
            <li><a class='dropdown-button' data-beloworigin="true" data-hover="false" href='/gallery/' data-activates='dropdowngm'>Gallery</a></li>
            <li><a href="/blog/">Outreach</a></li>
            <li><a href="/sponsor/">Sponsors</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>