<nav class="deep-purple darken-2" role="navigation">
    <div class="nav-wrapper container">

        <a id="logo-container" class="brand-logo hide-on-med-and-down" href="/">
            Team 6866
        </a>

        <a id="logo-container" class="brand-logo center" href="/">
            <img src="/assets/logos/regular no-6866.png" style="width:68.66px;height:68.66px;padding:5px">
        </a>

        <ul class="right hide-on-med-and-down">
            <li><a href="/about/">About</a></li>
            <li><a href="/gallery/">Gallery</a></li>
            <li><a href="/blog/">Outreach</a></li>
            <!--<li><a>Members</a></li>-->
            <li><a href="/sponsor/">Sponsors</a></li>
            <!--<li><a href="/join-us/">Join Us</a></li>-->
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/gallery/">Gallery</a></li>
            <li><a href="/blog/">Outreach</a></li>
            <!--<li><a>Members</a></li>-->
            <li><a href="/sponsor/">Sponsors</a></li>
            <!--<li><a href="/join-us/">Join Us</a></li>-->
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>