{% include head.html %}

<body style="display: flex; flex-direction: column; height: 100%;">
  <div id="main">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PCNPHV7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <main>
      {{ content }}
    </main>

  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      M.AutoInit();
    });
  </script>

</body>

{% include footer.html %}

</html>