---
layout: default
---
<div class="container">
  <div class="section">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" style="color:purple">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            {{ page.date | date: date_format }}
          </time>
          {% if page.author %}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author
              }}</span></span>
          {% endif %}
        </p>
      </header>

      {% if page.image %}
      <div class="post-content row">
        <div class="col m6 s12">
          <img src="{{ page.image | relative_url }}" style="width: 100%"></img>
        </div>
        <div class="col m6 s12">
          {{ content }}
        </div>
      </div>
      {% else %}
      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>
      {% endif %}

    </article>
  </div>
</div>